nav img{
    margin-left: 30px; 
}
#home{
    background-image: url("../images/p000.png");
}
#about{
    background-image: url("../images/cv.png");
}
#portfoli{
    background-image: url("../images/p3.png");
} 
#portfoli .box {
    margin: 0 auto;
    float: left;
    text-align: center;
    display: inline-block;
}
#portfoli .box img{    
    width: 300px;   
    box-shadow: 0px 5px  rgb(194, 192, 192); 
}
html,
body{
    width: 100%;
    height: 100%;
}
p {
    color: rgb(39, 29, 21);
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
    line-height: 1.5;
}
h4{
    font-size: 12px;
    font-style: italic;
    color: grey;
    margin: 8px;
}
section{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 220px;
}
.txt-bg{
    background-color: rgba(189, 179, 169, 0.2);
    border-radius: 10px;
    text-align: justify;
    padding: 20px 60px 10px 60px;
    width: 1000px;
    color: #301e12;
    margin: 15px;
}
.txt-bg h2{
    text-align:left;
    font-weight: bold;
}
.txt-bg p{
    text-align:left;
    font-size: 20px;
}
.footer {
    background-color: rgb(236, 214, 214);
    color: rgb(46, 42, 35);
    text-align: center;
    padding: 15PX 0PX;
    font-size: 20px;
    font-style: inherit;
}